<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bad Request</title>
</head>

<body>
    <h1>400 Bad Request</h1>
    <p>Your input contains unsupported characters.</p>
    <p>Please use only the following characters:</p>
    <ul>
        <li>Letters (A-Z, a-z)</li>
        <li>Numbers (0-9)</li>
        <li>Basic punctuation (!, ?, ., etc.)</li>
        <li>Spaces and newlines</li>

    </ul>
    <i>have you input text ?</i><br><br>
    <a href="/">Go Back to Home</a>
</body>

</html>