<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ascii-web</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    <h1>Generate ASCII ART</h1>
    <form action="/ascii-art" method="post" target="_top">
        <label for="text" >Enter Text:</label><br>
        <!-- <input type="text" id="text" name="text" placeholder="type Ssomething" required> -->
        <textarea type="text" placeholder=" Type something" name="text" ></textarea>
        <!-- <br> -->
        <br>
        

        <label for="banner">Select Banner:</label><br>
        <!-- <div >
            {{range .}}
                <input type="radio" id="{{.}}" name="banner" value="{{.}}" >
                <label for="{{.}}">{{.}}</label>
            {{end}}
        </div> -->
        <input type="radio" id="standard" name="banner" value="standard.txt">

        <label for="standard" style="color: brown;">standard</label>
        <input type="radio" id="shadow" name="banner" value="shadow.txt">

        <label for="shadow">shadow</label>
        <input type="radio" id="thinkertoy" name="banner" value="thinkertoy.txt">

        <label for="thinkertoy">thinkertoy</label>
       
        

        <br>
       
        <button type="submit" >Generate ASCII Art</button>
    </form>
</body>
</html>
