<!DOCTYPE html>
<html>

<head>
    <Title>ASCII_ART</Title>
</head>

<body>

    <h1>Generate ASCII ART</h1>
    <form method="post" action="/ascii-art">
        <div>
            <label>Text Area</label><br />
            <textarea type="text" name="userInput" placeholder="Enter text here" required></textarea><br />
            <label>Choose the banner file you want to use</label><br />
            <input type="radio" id="standard" name="banners" value="standard.txt" checked="checked">
            <label for="standard">standard</label><br />
            <input type="radio" id="thinkertoy" name="banners" value="thinkertoy.txt">
            <label for="thinkertoy">thinkertoy</label><br />
            <input type="radio" id="shadow" name="banners" value="shadow.txt">
            <label for="shadow">shadow</label>
        </div>
        <div>
            <input type="submit" value="Generate art">
        </div>
    </form>
    <label>Your generated art is</label><br />
    {{if .Result}}
    <pre>{{.Result}} </pre>
    {{end}}
    <p><a href="/">Reset</a></p>

</body>

</html>